h1 {
  color: hsl(57, 90%, 49%);
  text-align: center;
  font-size: 50px;
  transition: width 2s;
}
h1:hover {
  cursor: pointer;
}
span:hover {
  margin-left: -25px;
}
.head {
  font-size: 40px;
  text-align: center;
  color: brown;
}
.head:hover {
  text-decoration: underline;
  cursor: pointer;
}
.up {
  font-size: 40px;
  color: gray;
  margin-left: 30px;
  border-bottom: 1px solid gray;
  width: 1px;
  transition: 1s;
}
.up:hover {
  border-bottom: 7px solid gray;
  width: 180px;
  cursor: pointer;
}
.for {
  margin-left: 50px;
  margin-top: 80px;
}

.left {
  float: right;
  border: 2px solid black;
  width: 40%;
  height: 300px;
  border-radius: 25px;
  padding: 80px;
  margin: auto;
  margin-bottom: 200px;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
ul {
  list-style: none;
  background: brown;
  position: fixed;
  width: 100%;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.width {
  display: block;
  padding: 20px 45px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  background: brown;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: gray;
}
ul li:hover ul.dropdown {
  display: block;
}
body {
  width: 100%;
}
iframe {
  border-radius: 10px;
}
img {
  border-radius: 8px;
}
h2 {
  color: gray;
  font-size: 30px;
}
p {
  font-size: 20px;
}
#star {
  margin-top: 10px;
  margin-left: 13px;
  color: gray;
  padding: 10px;
  font-size: 25px;
}
.rate {
  font-size: 23px;
  margin-left: 50px;
  padding-left: 5px;
  position: relative;
  bottom: 35px;
}
.box {
  margin-left: 40px;
  border: 2px solid brown;
  border-radius: 10px;
  background-color: rgba(247, 229, 229, 0.913);
  max-width: 200px;
  height: 430px;
  cursor: pointer;
  box-shadow: 12px 15px 10px rgba(238, 206, 206, 0.913);
}
.box:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.title {
  font-size: 25px;
  margin-left: 25px;
  position: relative;
  bottom: 25px;
  cursor: pointer;
}
.btn {
  padding: 10px;
  width: 140px;
  margin-left: 25px;
  color: white;
  font-size: 15px;
  background-color: gray;
  position: relative;
  bottom: 30px;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(0.8);
  transition: 0.5s;
}
.try {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: gray;
}
.menu {
  display: flex;
  background-color: white;
}
.footer {
  max-width: 1405px;
  position: relative;
  bottom: 500px;
}
.social {
  padding: 50px;
  position: relative;
  top: 600px;
}
.social i {
  padding-left: 30px;
  position: relative;
  left: 440px;
  color: #fff;
}
.social i:hover {
  color: gray;
}
.gif {
  width: 40%;
  height: 500px;
  float: right;
  position: relative;
  bottom: 100px;
}
.about {
  font-size: 40px;
  color: rgb(202, 172, 172);
}
.finish {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}
.film {
  color: brown;
  font-weight: bold;
  font-size: 50px;
}
